.topcorner {
    position:absolute;
    top:10px;
    right: 10px;
 }

.topcenter {
    position: absolute; /* or absolute */
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0%);
    border: 3px solid #f1f1f1;
    padding: 5px 5px 5px 5px;
}


/* adapted https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader */
.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* The popup form - hidden by default */
.popup {
    visibility: hidden;
    position: fixed;
    top: 120px;
    right: 10px;
    width: 40%;
    border: 3px solid #f1f1f1;
    z-index: 1;
    background-color: white;
    padding: 10px 10px 10px 10px;
}

.popup-link {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}